:root {
    --red: red;
    --orange: orange;
    --yellow: #ffff50;
    --green: #3cff3c;
    --blue: #0492ff;
    --purple: #712071;
    --violet: violet;

    --red-dark: #981212;
    --red-light: #ff8c8c;
    --orange-dark: #cd7200;
    --orange-light: #ffcd70;
    --yellow-dark: #868600;
    --yellow-light: #ffffc2;
    --green-dark: #004600;
    --green-light: #8efd8e;
    --blue-dark: #020279;
    --blue-light: #62e8ff;
    --purple-dark: #310031;
    --purple-light: #f5b6f5;
    --violet-dark: #5c3e5c;
    --violet-light: #f3d1f3;

    --btn-gap: 8px;
}

th {
    text-align: left;
}

.button-row {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
}

button {
    border-width: 0;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    padding: 11px 0.5em;
    touch-action: manipulation;
    box-shadow: 0 0 2px black;
}

button:active {
    box-shadow: none;
}

.btn-accidental {
    display: none;
}

.show-accidentals .btn-accidental {
    display: block;
}

#btn-scale-degree-1 { background-color: var(--red); }
#btn-scale-degree-1-down { background-color: var(--red-dark); color: white;}
#btn-scale-degree-1-up { background-color: var(--red-light); }
#btn-scale-degree-2 { background-color: var(--orange); }
#btn-scale-degree-2-down { background-color: var(--orange-dark); color: white; }
#btn-scale-degree-2-up { background-color: var(--orange-light); }
#btn-scale-degree-3 { background-color: var(--yellow); }
#btn-scale-degree-3-down { background-color: var(--yellow-dark); color: white;}
#btn-scale-degree-3-up { background-color: var(--yellow-light); }
#btn-scale-degree-4 { background-color: var(--green); }
#btn-scale-degree-4-down { background-color: var(--green-dark); color: white;}
#btn-scale-degree-4-up { background-color: var(--green-light); }
#btn-scale-degree-5 {background-color: var(--blue); }
#btn-scale-degree-5-down {background-color: var(--blue-dark); color: white; }
#btn-scale-degree-5-up {background-color: var(--blue-light); }
#btn-scale-degree-6 {background-color: var(--purple); color: white;}
#btn-scale-degree-6-down {background-color: var(--purple-dark); color: white;}
#btn-scale-degree-6-up {background-color: var(--purple-light); }
#btn-scale-degree-7 { background-color: var(--violet); }
#btn-scale-degree-7-down { background-color: var(--violet-dark); color: white; }
#btn-scale-degree-7-up { background-color: var(--violet-light); }

#btn-rhythm-diminish { background-color: var(--red-light); }
#btn-rhythm-next { background-color: var(--yellow); }
#btn-rhythm-augment { background-color: var(--green); }
#btn-rhythm-prev { background-color: var(--blue); }

#loading-circle {
    display: none;
}

#loading-circle.loading {
    display: block;
}

#loading-circle {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

ul.firebaseui-idp-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.firebaseui-card-content form {
    margin: 0;
}

span.firebaseui-idp-icon-wrapper {
    display: none;
}

span.firebaseui-idp-text.firebaseui-idp-text-short {
    display: none;
}

#login-options.logged-in #firebaseui-auth-container {
    display: none;
}

#user-logo img {
    border-radius: 50%;
    width: 20px;
}

.abc-notation-panel,
.prediction-panel
{
    padding: 1em;
    border-radius: 2px;
    border: 1px solid;
    font-family: monospace;
    background-color: white;
    overflow-y: scroll;
}

.abc-notation-panel {
    max-height: 4em;
}

.prediction-panel {
    max-height: 1em;
}

.abc-notation-panel.invalid {
    color: red;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

header, main {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

header {
    display: flex;
    padding-top: 0.5em;
    background-color: #1f5ccd;
    color: white;
    padding-bottom: 0.5em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    box-shadow: 0 1px 1px black;
}

header > h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1em;
}

.btn-scale-degree {
    width: calc((100% - (var(--btn-gap) * 6))/7);
    padding-left: 0;
    padding-right: 0;
}

.show-accidentals .btn-scale-degree {
    width: calc((100% - (var(--btn-gap) * 10))/11);
}

.row-halves > button {
    width: calc((100% - var(--btn-gap))/2);
    border: none;
    background-color: white;
}

.row-thirds > button {
    width: calc((100% - (var(--btn-gap) * 2))/3);
}

.row-quarters > button {
    width: calc((100% - (var(--btn-gap) * 3))/4);
}

.row-fifths > button {
    width: calc((100% - (var(--btn-gap) * 4))/5);
}

#metadata label {
    min-width: 70px;
    display: inline-block;
}

#metadata input, #metadata select {
    margin-bottom: 0.5em;
}

#metadata button {
    padding-top: 2px;
    padding-bottom: 2px;
}

h1 > a {
    text-decoration: none;
    color: inherit;
}

.tab-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 5px black;
}

#btn-rhythm-next, #btn-rhythm-augment {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 24px;
}

.tabs {
    min-height: 184px;
    display: flex;
    align-items: end;
}

.tab {
    width: 100%;
    display: none;
}

.in-tie-mode #btn-tie,
.selected-4-4 #btn-time-sig-4-4,
.selected-6-8 #btn-time-sig-6-8,
.selected-12-8 #btn-time-sig-12-8,
.metadata-selected #btn-select-metadata,
.rhythm-selected #btn-select-rhythm,
.pitch-selected #btn-select-pitch {
    box-shadow: 0 0 3px inset;
    background-color: #d3e0fb;
}

.metadata-selected .metadata-tab,
.rhythm-selected .rhythm-tab,
.pitch-selected .pitch-tab {
    display: block;
}

.firebaseui-idp-button {
    padding-top: 3px;
    padding-bottom: 2px;
}

.key-input-container {
    margin-bottom: 1em;
}

#metadata #btn-tap-tempo {
    display: block;
    margin-bottom: 1em;
    font-size: 19px;
    padding: 18px;
    width: 50%;
}

.hidden-until-player-loaded { display: none; }
